body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  header {
    background: #50a3a2;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 1px solid #eaeaea;
  }
  
  header h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
  }
  